html {
  font-family: "monotype", "times", sans-serif;
}

/*CLASS SELECTORS*/
.box {
  font-size: 24px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.formbox {

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 15px;
  min-width: 20em;
  padding: 1em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
}

.footer {
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  text-align: center;
  padding-top: 2em;
}

/*BOXTWO MADE TO SIMPLY HAVE DIFFERENT HEIGHTS*/
.boxtwo {
  font-size: 24px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 50px;
}

div.bigbox {
  background-color: rgb(111, 78, 55);
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 25px;
  font-size: 2em;
  padding: 1em;
  border-color: black
}

.bigbox2 {
  background-color: rgb(111, 78, 55);
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 25px;
  font-size: 2em;
  padding: 1em;
  padding-top: 0em;
}

.buttonbox {
  font-size: 24px;
  height: 120px;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 200px;
}

.text {
  color: white;
  font-family: monospace;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  text-align: center;
  padding: 1em;
}

.textbottom {
  color: white;
  font-family: monospace;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  text-align: center;
  margin-top: 5em;
  /*TEXT SHADOW ALLOWS TEXT TO STAND OUT ON BACKGROUND*/
}

/*STYLING a TAG AND a TAG HOVER*/
a {
  font-size: 1em;
  color: white;
}

a:hover {
  color: blue;
  font-style: italic;
}

h1 {
  color: white;
  font-size: 64px;
  text-align: center;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  /*TEXT SHADOW ALLOWS TEXT TO STAND OUT ON BACKGROUND*/
}

body {
  background-image: url("images/coffee.jpg");
  background-color: #cccccc;
  background-size: cover;
}

/*IMAGE ID SELECTORS*/
.imagecenter {
  margin: 1em;
  width: 480px;
  border-style: solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  border-color: black;

}

.imagecenter2 {
  margin-left: 30%;
	margin-right: 25%;
  width: 480px;
  border-style: solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  border-color: black;
	padding-top: 0em;


}

.imageright {
  margin-left: 50%;
  margin-right: auto;
  width: 450px;
  border-style: solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
	margin-top: 0em;
}

.imagebutton {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  max-width: 100%;
  height: auto;
  color: black;
}

.button {

padding: 1em;
margin: 1em;
border-radius: 35px;



}



/*LIST STYLING*/
ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

li {
  color: white;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  font-family: monospace;
}

li li {
  list-style-type: square;
  font-family: monospace;
}

/*ID SELECTORS*/
#button {
  /*back to top button*/
  text-align: center;
  border: none;
  padding-bottom: 1em;
  padding-top: 2em;
	height: 4em;


}

#button2{

  text-align: center;
  border: none;
	color: white;
	background-color: blue;
}

#headcontainer {
  /*CONTAINER FOR NAVBAR AND TITLE*/
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: center;
  border-radius: 40px 40px 15px 15px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 1208px;
}

#navbar {
  color: white;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 1.0);
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  height: 48px;
  font-size: 32px;
  padding: 8px;
}

#navbar a:link {
  color: white;
  text-decoration: none;
}

#navbar a:hover {
  /*PSEUDO CLASS*/
  color: blue;
  text-decoration: none;
}

#navbar a:visited {
  color: white;
  text-decoration: none;
}

#time {
  color: white;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
	font-family: serif;
	text-shadow: none;
	color: white;
}
