html {
  font-family: "monotype", "times", sans-serif;
}

/*CLASS SELECTORS*/
.box {
  font-size: 24px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.contentbox { 			/*main container for content*/
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	border-radius: 15px;
	min-width: 908px;
	padding: 10px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: center;
	}

.footer {

 padding: 1em;
 margin: 1em;
 margin-top: 2em;
 text-align: center;
 padding-top: 2em;
}

/*BOXTWO MADE TO SIMPLY HAVE DIFFERENT HEIGHTS*/
.boxtwo {
  font-size: 24px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 50px;
}

div.bigbox {
  background-color: rgb(111,78,55);
  margin-left: 40px;
  margin-right:40px;
  border-radius: 25px;
}

.buttonbox {
  font-size: 24px;
  height: 120px;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 200px;
}

.text {
  color: white;
  font-family: monospace;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  text-align: center;
}



.textbottom {
  color: white;
  font-family: monospace;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  text-align: center;
  margin-top: 50%;
  margin-bottom: -20%;
  /*TEXT SHADOW ALLOWS TEXT TO STAND OUT ON BACKGROUND*/
}

h1 {
  color: white;
  font-size: 64px;
  text-align: center;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  /*TEXT SHADOW ALLOWS TEXT TO STAND OUT ON BACKGROUND*/
}

body {
  background-image: url("images/coffee.jpg");
  background-color: #cccccc;
  background-size: cover;
}

/*IMAGE ID SELECTORS*/
.imagecenter {
  margin-left: 20%;
  margin-right: 40%;
  margin-top: 30px;
  width: 480px;
  border-style: solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.imageright {
  margin-left: 600px;
  margin-right: auto;
  width: 450px;
  border-style: solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-top: -50px;
}

.imagebutton {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  max-width: 100%;
  height: auto;
  color: black;
}

/*LIST STYLING*/
ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

li {
  color: white;
  text-shadow: 6px 6px 8px rgba(0, 0, 0);
  font-family: monospace;
}

li li {
  list-style-type: square;
  font-family: monospace;
}

/*ID SELECTORS*/
#button {
  /*back to top button*/
  text-align: center;
  border: none;
  padding-bottom: 20px;
  padding-top: 100px;
}

#headcontainer {
  /*CONTAINER FOR NAVBAR AND TITLE*/
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: center;
  border-radius: 40px 40px 15px 15px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 1208px;
}

#navbar {
  color: white;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 1.0);
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  height: 48px;
  font-size: 32px;
  padding: 8px;
}

#navbar a:link {
  color: white;
  text-decoration: none;
}

#navbar a:hover {
  /*PSEUDO CLASS*/
  color: blue;
  text-decoration: none;
}

#navbar a:visited {
  color: white;
  text-decoration: none;
}

#time {
color: white;
font-size: 3em;
padding: 1em;
margin: 1em;

}
